* {
	box-sizing: border-box;
}

body {
	background-image: url("./images/pattern1.png");
}

header {
	background-color: #fff;
	padding: 1em 1em 1em 1em;
	margin: 0 auto;
	width: 980px;
	text-align: center;
}

header a {
	display: inline-block;
}

header img {
	max-width: auto;
	height: 150px;
	padding: 4px;
	margin-left: 5px;
	margin-bottom: 5px;
}

[src='./images/mauvsa.jpg'] {
	border: 2px solid #008080;
	max-width: 980px;
	height: auto;
}

header p {
	text-transform: uppercase;
	margin: 0em 0em 0em 0em;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
}

header h1 {
	font-size: 50px;
	font-family: Arial, Helvetica, sans-serif;
	text-transform: uppercase;
	color: #000;
	margin: 0em 0em 0em 0em;
	text-align: center;
}

header h2 {
	font-family: Arial, Helvetica, sans-serif;
	text-transform: uppercase;
	color: #000;
	margin: 0em 0em 0em 0em;
	text-align: center;
}

.topsection {
	margin: 0 auto;
	width: 980px;
}


.bottomsection {
	background-color: #fff;
	color: #000;
	margin: 0 auto;
	width: 980px;
	border-top: 1px solid #000;
	margin-top: 1em;
}

main h2 {
  	font-size: 35px;
  	font-family: Arial, Helvetica, sans-serif;
	text-transform: uppercase;
	text-align: center;
}

.aboutMe p {
	font-size: 14px;
	font-family: Arial, Helvetica, sans-serif;
	font color: black;
	padding: 0em 1em 0em 1em;
}


.aboutMe {
	width: 980px;
	min-height: auto;
	margin: auto;	
	text-align: center;
	color: #000;
	margin-top: 1em;
}

.aboutMe .mauvsa {
	width: 320px;
	height: 100px;
	display: inline-block;
	background: url("./images/malogo.png");
	background-size: 60%;
	background-repeat: no-repeat;
	background-position: center;
	background-color: rgba(255, 255, 255, .7);
	background-blend-mode: color;
	text-align: center;
}

.aboutMe .unkMedia {
	width: 320px;
	height: 100px;
	display: inline-block;
	background-image: url("./images/unkmedia.jpg");
	background-size: 50%;
	background-repeat: no-repeat;
	background-position: top;
	background-color: rgba(255, 255, 255, .7);
	background-blend-mode: color;
}

.aboutMe .hobbies {
	width: 320px;
	height: 100px;
	display: inline-block;
}

.screenshots {
	width: 980px;
	margin: 0 auto;
	padding: 0em 1em 0em 1em;
	text-align: center;
}

.screenshots img {
	border: 2px solid #000;
	max-width: auto;
	height: 200px;
	padding: 0px;
	margin-left: 5px;
	margin-bottom: 5px;
}

.screenshots a {
	display: inline-block;
}

footer {
	background-color: #008080;
	color: #fff;
	padding: 15px;
	width: 980px;
	margin: 0 auto;
}

footer p {
	font-size: 8px;
	font-family: Arial, Helvetica, sans-serif;
	text-transform: uppercase;
	text-align: right;
}

.contactInfo {
	text-align: center;
	margin: 1em;
}

.contactInfo img {
	max-width: auto;
	height: 50px;
	padding: 1px;
	margin: 3px;
}