* {
	box-sizing: border-box;
}

body {
	background-image: url("./images/pattern1.png");
}

header {
	background-color: #fff;
	padding: 1em 1em 1em 1em;
	margin: 0 auto;
	width: 980px;
	text-align: center;
}

header a {
	display: inline-block;
}

header img {
	max-width: auto;
	height: 150px;
	padding: 4px;
	margin-left: 5px;
	margin-bottom: 5px;
}

[src='./images/mauvsa.jpg'] {
	max-width: 980px;
	height: auto;
	padding: 4px;
}

header p {
	text-transform: uppercase;
	margin: 0em 0em 0em 0em;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
}

header h1 {
	font-size: 50px;
	font-family: Arial, Helvetica, sans-serif;
	text-transform: uppercase;
	color: #000;
	margin: 0em 0em 0em 0em;
	text-align: center;
}

header h2 {
	font-family: Arial, Helvetica, sans-serif;
	text-transform: uppercase;
	color: #000;
	margin: 0em 0em 0em 0em;
	text-align: center;
}

.topsection {
	background-color: #008080;
	margin: 0 auto;
	width: 980px;
}


.bottomsection {
	background-color: #fff;
	color: #000;
	margin: 0 auto;
	width: 980px;
}

main h2 {
  	font-size: 35px;
  	font-family: Arial, Helvetica, sans-serif;
	text-transform: uppercase;
	text-align: center;
	padding: 0em 1em 0em 1em;
}

main p {
	font-size: 14px;
	font-family: Arial, Helvetica, sans-serif;
	font color: black;
	padding: 0em 1em 0em 2em;
}

.screenshots {
	width: 980px;
	margin: 0 auto;
	padding: 0em 1em 0em 1em;
	display: inline-block;
	text-align: center;
}

.screenshots img {
	border: 2px solid #000;
	max-width: auto;
	height: 200px;
	padding: 2px;
	margin-left: 5px;
	margin-bottom: 5px;
}

.screenshots a {
	display: inline-block;
}

footer {
	background-color: #008080;
	color: #000;
	padding: 15px;
	width: 980px;
	margin: 0 auto;
}

footer p {
	font-size: 8px;
	font-family: Arial, Helvetica, sans-serif;
	text-transform: uppercase;
	text-align: right;
}
